@use "../abstracts/colors" as color;

$site_width: max(calc((100vw - 1530px) / 2), 10vw);

#global_container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100vw;
    min-height: 100vh;
}

.container {
    padding-inline: $site_width;
}

svg#icons {
    display: none;
}

:root {
    scroll-behavior: smooth;
}